artists.xsd

<?xml version="1.0"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.w3school.com.cn">

  <xs:element name="artistCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="artist"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="artist">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="name"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="name" type="xs:string" />

</xs:schema>
